/*TODO: Consider a change in layout, maybe dont have the footer always visable and have sticky filters but games all the way to the bottom of the vh */
.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--container-width-wide);
  margin: 0 auto 0 auto;
  padding-top: var(--content-start-top-margin-base);
}

.game-primary-tile {
width: 100%;
height: 500px;
max-height: 500px;
}

.game-media-tile {
  width: 100%;
  height: 420px; /* This is the height for when we use 16/9 and a 3 image layout for the swiper */
  display: flex;
  flex-direction: column;
  padding: var(--space-4xl);
  padding-bottom: calc(var(--space-4xl) - var(--space-md) - 8px); /* --space-md is the row gap used in Slider.tsx, 8px is the height of the paging in Slider.tsx */
  background-color: var(--overlay-01dp);
}

.game-media-tile-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--color-muted) ;  
  margin-bottom: calc(var(--space-md) + 8px);
}

.game-additional-info-tile {
  width: 100%;
  display: flex;
}

/* Utilities */
.game-page-title {
  margin-top: var(--content-block-separator-base);
  margin-left: 2px;
}

.game-page-title h4 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-highemp);
}

.game-additional-info-sentiment {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-additional-info-status {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
}