.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--container-width-wide);
  margin: 0 auto 0 auto;
  padding-top: var(--content-start-top-margin-base);
}

.home-grid {
  display: grid;
  width: 100%;
  grid-template-areas:
    "home-filters home-main";
  grid-template-columns: 200px 4fr;
  column-gap: var(--space-xl);
  margin-top: var(--space-xl);
}


.home-filters {
  grid-area: home-filters;
  height: 100%;
  background-color: var(--overlay-01dp);
}

.home-main {
  grid-area: home-main;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.home-heading {
  color: var(--color-text-highemp);
  width: 100%;
}
.home-heading h1 {
  line-height: 1;
  font-size: var(--font-size-mdh1);
  font-weight: var(--font-weight-extra-bold);
}

.game-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  height: 100%;
  gap: var(--space-xl);
}

.home-paging {
  margin: auto;
  margin-bottom: var(--space-xl);
}

.error-results-home {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-01dp);
  padding: var(--space-xl);
  margin-right: calc(var(--space-md)/2);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var( --color-text-highemp);
  row-gap: var(--space-md);
}

.error-results-home-message {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.error-results-home-img {
  width: var(--icon-size-xl);
}

.no-results-home {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-01dp);
  padding: var(--space-xl);
  margin-right: calc(var(--space-md)/2);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var( --color-text-highemp);
  row-gap: var(--space-md);
}

.no-results-home-message {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-results-home-img {
  width: var(--icon-size-xl);
}

/*Bespoke media query to handle forcing 3 columns for larger screens*/
@media (min-width: 1054px) {
  .game-card-wrapper {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (min-width: 1440px) {
  .game-card-wrapper {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

@media (min-width: 768px) {
  .game-card-wrapper {
    grid-auto-rows: minmax(0, 320.4px)  }
}

@media (max-width: 768px) {
  .home-container {
    margin: var(--content-start-top-margin-mobile) auto 0 auto;
    padding-top: 0;
  }

  .home-heading h1 {
    font-size: var(--font-size-xl);
    text-align: center;
  }

  .home-grid {
    grid-template-areas: 
      "home-main"
      "home-paging";
    grid-template-columns: auto;
  }
  .home-filters {
    display: none;
  }
  .home-dummy {
    display: none;
  }
}
