@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html {
  font-size: 18px;
}

@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 20px;
  }
}

:root {
  /* 🎨 Color System */
  --color-primary: #2fa98c;
  --color-background: #1e1e1e;
  --color-secondary: rgba(255, 110, 97, 0.8);
  --color-surface: rgba(255, 255, 255, 1);
  --color-muted: rgba(255, 255, 255, 0.6);
  --color-danger: rgba(229, 57, 53, 1);
  --color-success: rgba(67, 160, 71, 1);
  --color-separator: rgb(69, 71, 72);
  --color-meadow: rgba(44, 194, 149, 1);
  --color-mint: rgba(47, 169, 140, 1);
  --color-frog: rgba(23, 135, 109, 1);

  /* Color System Platforms */
  --color-pc: rgba(255, 255, 255, 1);
  --color-xbox: #34701e;
  --color-ps5: #3061c0;
  --color-ps4: rgba(48, 97, 192, 1);
  --color-switch: #c92c17;

  /* 🎨 Color System Text */
  --color-text-base: rgba(255, 255, 255, 0.6);
  --color-text-highemp: rgba(255, 255, 255, 1);
  --color-text-contrast: #1e1e1e;
  --color-text-disabled: rgba(255, 255, 255, 0.38);
  --color-text-link: rgba(47, 169, 140, 1);

  /* 🎨 Color System: Actions */
  --color-hover: #2fa98c;
  --color-shadow: rgba(255, 255, 255, 0.2);

  /* 🎨 Color System: Overlays for Dark Theme */
  --overlay-01dp: rgba(255, 255, 255, 0.03);
  --overlay-02dp: rgba(255, 255, 255, 0.07);
  --overlay-03dp: rgba(255, 255, 255, 0.08);
  --overlay-04dp: rgba(255, 255, 255, 0.09);
  --overlay-06dp: rgba(255, 255, 255, 0.11);
  --overlay-08dp: rgba(255, 255, 255, 0.12);
  --overlay-12dp: rgba(255, 255, 255, 0.14);
  --overlay-16dp: rgba(255, 255, 255, 0.15);
  --overlay-24dp: rgba(255, 255, 255, 0.16);
  --overlay-32dp: rgba(255, 255, 255, 0.36);
  --background-blur: rgba(0, 0, 0, 0.74);

  /* container widths */
  --container-width-base: 1280px;
  --container-width-wide: 1920px;
  --container-width-narrow: 700px;

  /* 🔤 Typography */
  --font-family-base: "Nunito Sans", sans-serif;
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-smh1: 2rem;
  --font-size-mdh1: 2.5rem;
  --font-size-lgh1: 4rem;
  --font-size-xlh1: 6rem;
  --font-size-xxlh1: 8rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-regularplus: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;
  --font-line-height-base: 1.5;
  --font-line-height-h3: 1.2;
  --heading-emoji-size: 1.75rem;

  /* 📏 Icon Size */
  --icon-size-xs: 16px;
  --icon-size-sm: 20px;
  --icon-size-md: 24px;
  --icon-size-lg: 32px;
  --icon-size-xl: 40px;
  --separator-size-base: 3px;

  /* 📏 Spacing Scale */
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-ssm: 6px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 24px; /* must be double the size of --space-md */
  --space-2xl: 32px;
  --space-3xl: 40px;
  --space-4xl: 48px; /* must be double the size of --space-xl */
  --space-5xl: 56px;
  --content-block-separator-base: 100px;
  --content-block-separator-mobile: 50px;
  --content-start-top-margin-base: 50px;
  --content-start-top-margin-mobile: 30px;
  --content-start-marketing-top-margin-base: 100px;
  --content-start-marketing-top-margin-mobile-base: 30px;
  --wrapper-padding-sides: 16px;

  /* 📐 Breakpoints */
  --breakpoint-sm: 430px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* 🔳 Z-Index Layers */
  --z-header: 10000;
  --z-modal: 1100;
  --z-tooltip: 1200;
  --z-overlay: 900;
  --z-max-standard: 1000;

  /* 🌀 Transitions & Timing */
  --transition-fast: 150ms;
  --transition-base: 400ms;
  --transition-slow: 600ms;
  --ease-default: cubic-bezier(0.4, 0, 0.2, 1);

  /* 🧩 Radius & Shadows */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --shadow-input: 0 0 4px var(--color-shadow);

  /* Specific Component Settings */
  --header-height: 80px;
  --header-height-mobile: 114px;
  --footer-height: 80px;
  /*TODO: Implement this in layout*/
  --footer-height-mobile: 100px;
  --gallery-circle-size: 8px;
  --gallery-circle-padding: 4px;
  --gallery-circle-color-default: var(--color-overlay-32dp);
  --gallery-circle-color-border: var(--color-text-highemp);
  --gallery-circle-color-selected: var(--color-text-highemp);
}

/* Reset/set base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height-base);
  color: var(--color-text-base);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  line-height: var(--font-line-height-base);
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

h4 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

h5 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

h6 {
  font-size: var(--font-size-xs);
}

p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: var(--color-text-highemp);
  font-size: var(--font-size-xs);
  text-decoration: none;
  transition: color var(--transition-base) var(--ease-default);
}

.subtle-links a,
.subtle-links p {
  color: var(--color-text-highemp);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  transition: color var(--transition-base) var(--ease-default);
  cursor: pointer;
}

a:hover {
  color: var(--color-hover);
}

button {
  cursor: pointer;
  transition: all var(--transition-base) var(--ease-default);
}

input,
textarea,
select {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  padding: var(--space-sm);
  border-radius: var(--radius-xl);
  transition:
    background-color var(--transition-base) var(--ease-default),
    box-shadow var(--transition-base) var(--ease-default);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::placeholder {
  color: var(--color-muted);
}

/* utility classes */

.links:hover {
  color: var(--color-primary);
  transition: color var(--transition-base) var(--ease-default);
}

.text-highemp-p-span {
  color: var(--color-text-highemp);
  font-weight: var(--font-weight-bold);
}

.text-highemp-h-span {
  color: var(--color-text-highemp);
}

.heading-emoji {
  font-size: var(--heading-emoji-size);
}

.platform-icon {
  width: auto;
  height: var(--icon-size-sm);
}

.platform-pc {
  color: var(--color-pc);
}

.platform-xbox {
  color: var(--color-xbox);
}

.platform-ps {
  color: var(--color-ps5);
}

.platform-ps4 {
  color: var(--color-ps4);
}

.platform-switch {
  color: var(--color-switch);
  opacity: 1;
}

.game-card-info-middle {
  display: flex;
  justify-content: space-between;
}
