.game-card {
  display: flex;
  flex-direction: column;
  background-color: var(--overlay-01dp);
  overflow: hidden;
}

.game-card-info-container h2 {
  font-size: var(--font-size-md);
}

.game-card h6 {
  color: var(--color-text-highemp);
  font-size: var(--font-size-xxs);
}

.game-card-gallary-image {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: background-image 0.6s ease;
  position: relative;
}

.game-card-gallary-back {
  position: absolute;
  width: 50%;
  height: 100%;
}

.game-card-gallary-forward {
  position: absolute;
  left:50%;
  width: 50%;
  height: 100%;
}

.game-gallary-selector-container {
  width: 120px;
  display: flex;
  justify-content: start;
  margin-left: var(--space-sm);
  margin-top: var(--space-sm);
}

.circle-wrapper {
  z-index: var(--z-max-standard);
}

.game-card-info-container {
  display: flex;
  flex-grow: 1;
  min-height: 35%;
  flex-direction: column;
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.game-card-info-container h2,
.game-card-info-container h4 {
  color: var(--color-text-highemp);
}

.game-card-info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-xs);
  gap: var(--space-md);
}

.game-card-info-title {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
  min-width: 0;
}

.game-card-info-title h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-card-info-platforms {
  display: flex;
  gap: var(--space-ssm);
  align-items: center;
  flex-shrink: 0;
}



.genre-icon-container {
  display: flex;
  flex-direction: row;
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
  color: var(--color-text-highemp);
}

.game-card-info-bottom {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: var(--space-sm);
  justify-content: space-between;
}

.game-card-info-bottom-ratings {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.game-card-info-bottom-ratings img {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

.game-card-info-bottom-ratings-metacritic {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.game-card-info-bottom-ratings-esrb {
  display: flex;
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
  align-items: center;
  gap: var(--space-xs);
  cursor: default;
}

.game-card-info-bottom-ratings-esrb h6 {
  color: var(--color-text-base);
}

.game-card-info-bottom-ratings-metacritic h6 {
  cursor: default;
}

.game-card-info-bottom-buttons {
  display: flex;
  align-items: center;
}


